$white: #ffffff;
$main-font: 'Jost';
$primary-color: #0f215c;
$secondary-color: #647188;

/* --------------Mixin------------------------*/

@mixin pBox {
  font-size: 16px;
  color: $white;
  font-weight: 300;
  line-height: 24px;
}

@mixin sBtn {
  background: linear-gradient(0deg, #132d7c, #132d7c),
    linear-gradient(180deg, #0f215c 0%, #007bd1 100%), #194ef0;
  border-radius: 8px;
  border: none;
  padding: 8px 26px;
  gap: 10px;
  height: 56px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: $white;
}
@mixin oBtn {
  border: 2px solid $primary-color;
  border-radius: 16px;
  height: 56px;
  padding: 8px 26px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: $primary-color;
}
@import './mixins';

/* -------------------Variables mixin------------------------*/

.textBox {
  @include pBox;
}
.sBtn {
  @include sBtn;
}
.oBtn {
  @include oBtn;
}
