$white: #ffffff;
$main-font: 'Jost';
$primary-color: #040e2c;
$secondary-color: #647188;
$black: #000;
$red: #ff4e78;
$btn-outline:#194EF0;

/* ------------------Fonts------------------ */

.sp {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $secondary-color;
}

.pp {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $primary-color;
}

.titleh2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: $primary-color;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $primary-color;
  }
  &__span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $red;
  }
}

.link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $primary-color;
  &--right {
    text-align: right;
  }
  &--center{
    text-align: center;
  }
}

/* --------------Inputs------------------------*/

.checkBox {
  display: flex;
  gap: 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $primary-color;
}

/* --------------Mixin------------------------*/

@mixin pBox {
  font-size: 16px;
  color: $white;
  font-weight: 300;
  line-height: 24px;
}

@mixin sBtn {
  background: linear-gradient(0deg, #132d7c, #132d7c),
    linear-gradient(180deg, #0f215c 0%, #007bd1 100%), #194ef0;
  border-radius: 8px;
  border: none;
  padding: 8px 26px;
  gap: 10px;
  height: 56px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: $white;
}
@mixin oBtn {
  border: 2px solid $primary-color;
  border-radius: 8px;
  height: 56px;
  padding: 8px 26px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: $primary-color;
}
@import './mixins';

/* -------------------Variables mixin------------------------*/

.textBox {
  @include pBox;
}
.sBtn {
  @include sBtn;
}
.oBtn {
  @include oBtn;
}
